br class="clear"
hr
footer
	h2 Quick Link
	ul class="nav nav-pills"

		li class="active"
			= link_to "Home", '#'
		li 
			= link_to "About Us", '#'
		li
			= link_to "Sign Up", '#'
		li 
			= link_to "Sign in", '#'
