<h1>Order list</h1> 
<p class="lead">
	Showing all "<strong><%= @orders.count %></strong>" Order.
</p>
<%= link_to "New Order Option", new_admin_order_path,  :class => 'btn btn-success btn-large' %>
<%= render "orders" %>