<div class="hero-unit">
<h1>Admin Panel </h1>
<p class="lead">
		Welcome to Rupali's Admin Lounge. Please enjoy your stay.
	</p>
	<%= link_to "Manage Users", admin_users_path, :class => 'btn btn-primary btn-large' %>
	<%= link_to "Manage Category", admin_categories_path, :class => 'btn btn-primary btn-large' %>
	<%= link_to "Manage Product", admin_products_path, :class => 'btn btn-primary btn-large' %>
</div>