<h1>Product list</h1> 
<p class="lead">
	Showing all "<strong><%= @products.count %></strong>" Products.
</p>
<%= link_to "New Product", new_admin_product_path,  :class => 'btn btn-primary' %>
<%= render 'products_list' %>



