h1 
	= @product.name
| Code: 
= @product.code

p class="lead"	
	= @product.description 
	
p	
	|From Category 
	b 
		= @product.category.name
hr
= link_to "Edit Product" , edit_admin_category_product_path(@category, @product) , :class => 'btn btn-primary' 

= link_to "Delete Product" , admin_category_product_path(@category, @product) , :class => 'btn', 
	:method => :delete, :confirm => "Are you sure you want to delete this product?"