/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*= require bootstrap-datepicker
/*Small Reset*/

a, a:visited, a:hover, a:active {
	color: #333;
}
	
h1, h2, h3, h4, h5, h6{
	text-decoration:none;	
	}

label {
		font-size: 1.2em;
		width:200px !important;
		color:#212121;
	}

li{
		list-style:none;
	}
	
body {
	padding:0;
	font-size:14px;
}
/*Small Reset*/


header{
	width: 220px;
	margin-right: 20px;
	display: inline-block;
	position: fixed;
	top: 0px;
	z-index: 500;
}

#logo {
	height: 160px;
	background:transparent url('logo.png') no-repeat bottom center;
}

footer{
	background:#fff url('footer_bg.jpg') no-repeat;
	border-top:1px solid #DDD;
	padding:10px;
}

.title {
font-size: 18px;
margin-bottom: 10px;
color: #333;
}


header a, footer a{
	color:#7D7D7D !important;
}
section a{
	font-weight:600;
	margin-right:20px;
}
header h1 a{
	height:200px;
	
}
header nav{
	background: url(menu_back.png) repeat-y top left;
	width: 220px;
	padding: 0 10px 25px 10px;
}

#hide_menu{
	background: transparent url('tag_menu.png') no-repeat bottom left;
	width: 220px;
	height: 115px;
	margin: 0;
	padding: 0 30px 0 30px;
	position: relative;
}

#main {
	min-height: 100%;
	background: rgba(255,255,255,0.79);
	margin: 0 0 0 250px;
	padding-top:20px;	
}

nav li{
	margin:0 10px;
	height: 35px;
	padding: 10px;
	border-bottom: 1px solid #343434;
	position: relative;
	z-index: 10000;
}
nav span {
	color: #444;
	position: absolute;
	top: 28px;
	left: 10px;
	z-index: 10;
	text-transform: none;
}

nav li:first-child {
	border-top: 1px solid #343434;
}

nav a{
	color: #999 !important;
	font-size:18px;
}


#header_link{
	float:right;
	margin: 20px;
}

#banner {
	height: 500px;
	display:block;
	background:#222;
}
.container{
	margin: 0px auto;
	padding: 0px;	
	background: transparent;
	/*background: white url(../images/other-bg.png) repeat-x top;*/	
}

