/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/*Small Reset*/
*{/*font-family:"HelveticaNeue-Light",
	"Helvetica Neue Light",
	"Helvetica Neue",
	Helvetica,arial,sans-serif;font-weight:300;*/
	font-family: 'Open Sans', sans-serif !important;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333;
	}
h2{
	font-size:18px;
}
	
a, a:visited {
	color: #3B5998;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
	padding-right:10px;
	font-weight:200;
}

label {
	font-size: 1.2em;
	width:200px !important;
}
hr{
	height:2px;
	background:#eee;
}

input[type="text"], 
input[type="password"], 
input[type="url"], 
input[type="email"], 
input.text, input.title,
textarea, select {
	font-size: 14px;
	min-width:300px;
	border:2px solid #DDD;
	border-radius:4px;
	padding:5px;
}

.field_with_errors input{
	border: 2px solid #FBC2C4;
	/*background: #FBE3E4;*/
}

li{
	list-style:none;
}
#error_explanation, #errorExplanation{
	border:2px solid #FBC2C4;
	padding:0 10px;
	/*border-radius:4px;*/
	background: #FBE3E4;
	color: #8A1F11;
	
}

#error_explanation h2, #errorExplanation h2{
	color: #8A1F11;
	font-size:18px;
}


body {
	background:#1C1C1C url('body_bg.png');
	color: #666;
	font-size:13px;
	font-weight:400;
}

/*Small Reset*/
header{
	/*background: -webkit-linear-gradient(top, #333 0%, #222 100%);*/
	background:#000;
	height:60px;
	padding:10px;
	/*background:transparent url('header.jpg')repeat-x;*/
	display: block;
}


footer{
	height:120px;
	background: #f7f7f7;
	border-top:1px solid #ddd;
	padding:10px;
}



header h1 {
	float:left;
	background:red;
	margin:0 0 0 -10px;	
}


header a{
	color:#999 !important;
}
header h1 a{
	font-size:1em !important;
	padding:0 10px;
	line-height:60px;
	color: #fff !important;
}
header nav{
	float:right;
}
nav a{
	padding:10px;
	line-height:45px;
}
section{
	background: #fff;
	padding:10px;		
}
#banner {
	height: 500px;
	display:block;
	background:#222;
}
.container{
	/*background: #141414;*/
	width:980px;
	background: #352F2A;
	box-shadow: inset 0 0 5px #000;
	padding: 10px;
	padding-top: 0;
}