/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

nav a{
	font-family: 'PT Sans Narrow', sans-serif;
}	

body {
	/*background:#f5f5f5 url('grid2.png');*/
	background: #f5f5f5;
	color: #333;
	font-size:13px;
	font-weight:400;
}

/*Small Reset*/


header{
	width: 220px;
	margin-right: 20px;
	display: inline-block;
	position: fixed;
	top: 0px;
	z-index: 500;
}

#logo {
	height: 160px;
	background:transparent url('logo.png') no-repeat bottom center;
}

footer{
	background:#fff url('footer_bg.jpg') no-repeat;
	border-top:1px solid #DDD;
	padding:10px;
}

.title {
font-size: 18px;
margin-bottom: 10px;
color: #333;
}


header a, footer a{
	color:#7D7D7D;
}
section a{
	font-weight:600;
	margin-right:20px;
}
header h1 a{
	height:200px;
	
}
header nav{
	background: url(menu_back.png) repeat-y top left;
	width: 220px;
	padding: 0 10px 25px 10px;
}

#hide_menu{
	background: transparent url('tag_menu.png') no-repeat bottom left;
	width: 220px;
	height: 115px;
	margin: 0;
	padding: 0 30px 0 30px;
	position: relative;
}

#main {
	min-height: 100%;
	background: #fff;
	margin: 0 0 0 240px;
	border:2px solid #eee;
	border-top:none;
}

nav li{
	margin:0 10px;
	height: 29px;
	padding: 5px 10px 20px;
	border-bottom: 1px solid #343434;
	position: relative;
	z-index: 10000;
}
nav span {
	color: #444;
	position: absolute;
	top: 28px;
	left: 10px;
	z-index: 10;
	text-transform: none;
	font-style:italic;
}

nav li:first-child {
	border-top: 1px solid #343434;
}

nav a{
	color: #A3A3A3;
	font-size:18px;
	text-transform: uppercase;
}
nav a :hover{
	text-decoration:none !important;
	color: #FFF !important;
}


section{
	padding: 20px;
	
}

#header_link{
	float:right;
	margin-top:-10px;
	padding-left:10px;
	border-left:3px solid #eee;
}

#banner {
	height: 500px;
	display:block;
	background:#222;
}
.container{
	width: 1035px;
	margin: 0px auto;
	padding: 0px;	
	background: transparent;
	/*background: white url(../images/other-bg.png) repeat-x top;*/	
}

