
@import url(http://fonts.googleapis.com/css?family=Prata);


/*Small Reset*/
	
h1, h2, h3, h4, h5, h6{
	font-family: 'Prata', serif;
	font-weight: normal;
	color: #39434C;
	text-decoration:none;
	}

	label {
		font-size: 1.2em;
		width:200px !important;
		color:#212121;
	}

	hr{
	border-bottom: 1px dotted #D1D1D1;
	}
	
	input[type="text"], 
	input[type="password"], 
	input[type="url"], 
	input[type="email"], 
	input.text, input.title,
	textarea, select {
		font-size: 14px;
		min-width:300px;
		border:2px solid #DDD;
		border-radius:4px;
		padding:5px;
	}

	.field_with_errors input{
		border: 2px solid #FBC2C4;
		/*background: #FBE3E4;*/
	}

	li{
		list-style:none;
	}
	#error_explanation, #errorExplanation{
		border:2px solid #FBC2C4;
		padding:0 10px;
		/*border-radius:4px;*/
		background: #FBE3E4;
		color: #8A1F11;

	}

	#error_explanation h2, #errorExplanation h2{
		color: #8A1F11;
		font-size:18px;
	}
	
