<div class="hero-unit">
	<h1>Welcome you! </h1>
	<p class="lead">
		To UK's Best Asian Fashion brand Rupali's webportal. Please enjoy your stay.
	</p>
</div>
<hr/>
<ul id='categories' class="thumbnails">
	<% @categories.each do |category| %>
		<li class="span3"> 
			<div class="thumbnail" style= " height:390px; overflow:hidden" >							
				<%= link_to image_tag("default_thumb.jpg", :width => 260), category %>								
			</div>
			<br />
			<%= link_to category.name, category %>
			<p><%= category.description %><p>
		</li>
	<% end %>
<ul>
<br class="clear">
	