<h1>User list</h1>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th> User list </th>
		</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
				<td><%= link_to user, [:admin, user] %></td>
		</tr>
	<% end %>
</table>
<hr />
<%= link_to "New User", new_admin_user_path, :class => 'btn btn-primary' %>