<h1>States All</h1>
<hr/>
<ul id='states'>
  <% for state in @states %>
	<li class='btn' id='state_<%= state.id %>'>
		<%= state.name %>
		<%= link_to "Make default", make_default_admin_state_path(state) %>
	</li>
  <% end %>
</ul>
<hr/>
<%= link_to "New State", new_admin_state_path, :class => 'btn btn-primary' %>