<footer>
    <ul>
        <li class="title">Quick Link</li>
        <li>
            <%= link_to "Home", root_path %>
        </li>
        <li>
            <%= link_to "About Us", "/pages/about-us" %>
        </li>
        <li>
            <%= link_to "Contact Us", "/pages/contact-us" %>
        </li>
        <li>
            <%= link_to "Sign in", '#' %>
        </li>
    </ul>
</footer>
​
