<footer>
	<ul>
			<li><a href= "#"> Home </a></li>
			<li><a href= "#"> About Us </a></li>
			<li><a href= "#"> Sign Up </a></li>
			<li><a href= "#"> Sign in </a></li>
			<li><a href= "#"> Forget Password? </a></li>
	</ul>
</footer>