<header>
<h1><%= link_to "Ticketee", root_path %></h1>	
	<nav>
		<% if user_signed_in? %>
			Signed in as <%= current_user.email %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %>
		<% end %>
		<%= link_to "Sign in", new_user_session_path %>
	</nav>
</header>
<br class=clear />