header
	nav
		li#logo
			h1
				= link_to "", root_path
		li
			= link_to "Home", root_path 
			span Back to rupali Home page.

		li
			= link_to "Projects", projects_path
			span Saree, Chridar, Salwar, Tunics...

		li
			= link_to "Mens", root_path
			span Kurta, Sherwani, Mojadi...

		li
			= link_to "Boys", root_path 
			span Kurta, Sherwani, footwear...

		li
			= link_to "Girls", root_path
			span Saree, Chridar, Salwar, Tunics...

		li
			= link_to "Offer", root_path
			span On sales, offer of the week...

	#hide_menu
		.menu_tooltip
			.tooltip_hide
			.tooltip_show
